<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jiajiaowang</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TutorLogServlet</display-name>
    <servlet-name>TutorLogServlet</servlet-name>
    <servlet-class>servlet.TutorLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorLogServlet</servlet-name>
    <url-pattern>/TutorLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonServlet</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TutorRegServlet</display-name>
    <servlet-name>TutorRegServlet</servlet-name>
    <servlet-class>servlet.TutorRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorRegServlet</servlet-name>
    <url-pattern>/TutorRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TutorAddServlet</display-name>
    <servlet-name>TutorAddServlet</servlet-name>
    <servlet-class>servlet.TutorAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorAddServlet</servlet-name>
    <url-pattern>/TutorAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
</web-app>